
<div class="topnav">
  <a  routerLinkActive="active" (click)="buttonClickFunction(asd)"  style="margin-left:3px">Imports</a>
  <a routerLink="/exporters" routerLinkActive="active" style="margin-left:3px">Exporters</a>
  <a routerLink="/ff" routerLinkActive="active" style="margin-left:3px">F F</a>
  <a routerLink="/cha" routerLinkActive="active"  style="margin-left:3px">C H A</a>

  <a routerLink="/transporters" routerLinkActive="active"  style="margin-left:3px">Transporters</a>
  <a routerLink="/form" routerLinkActive="active" style="margin-left:3px">Shipping Line</a>
  <a routerLink="/yo" routerLinkActive="active" style="margin-left:3px">Y Operatores</a>
  <a routerLink="/al" routerLinkActive="active"  style="margin-left:3px">Air Lines</a>

  <a routerLink="/regulatorers" routerLinkActive="active"  style="margin-left:3px">Regulatorers</a>
  <a routerLink="/po" routerLinkActive="active" style="margin-left:3px">P O</a>
  <a routerLink="/apo" routerLinkActive="active" style="margin-left:3px">A P Operatores</a>
  <a routerLink="/to" routerLinkActive="active"  style="margin-left:3px">T Operatores</a>

  <a routerLink="/cc" routerLinkActive="active"  style="margin-left:3px">C C</a>
  <a routerLink="/Ins" routerLinkActive="active" style="margin-left:3px">Insures</a>
  <a routerLink="/charts" routerLinkActive="active"  style="margin-left:3px">Bankers</a>
</div>
